[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libraries/base64"]
	path = libraries/base64
	url = https://github.com/cgytrus/base64
